/*TODO: need other container rule for screen sizes < 950 in width*/

/*Removes border outline when carousel is clicked*/
*:focus {
  outline: none !important;
}

.in-page-nav {
    max-height: 400px;
    min-width: 100%;

    box-sizing: border-box;
    padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;

    color: white;
}

.slider {
    min-height: 550px;
    min-width: 100%;

    justify-content: space-between;
    float: none;
    z-index:0;
}

.in-page-nav-button {
    max-height: 300px;
    max-width: 250px;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*FIXME: Hardcoded in for HoloCN nav buttons*/
.in-page-nav-button img {
    width: 300px;
}


.buttonBack {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.buttonNext {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.in-page-nav .active button {
    background-color: #bbbbbb;
}
